
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
*{
    padding: 0%;
    margin: 0%;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-family: 'Cinzel', serif;
    padding: 10px;
    display: inline-block;
    transition: background.2s;
    margin: auto;
}
.menu ul li a:hover{
    background-color:#1849DE;

}
.menu{
    width: 100%;
    background-color: #1F1CB0;
    position: fixed;
    display: flex;
}
ul{
    display: flex;
    list-style: none;
}
#conteudo{
    width: 100%;
    height: 100%;
    background-color:#1849DE;
    margin: auto;
    padding-bottom: 100px;
}
.caixa{
    width: 400px;
    height: 400px;
    background-color:white;
    margin: auto;
    margin-top: 100px;
    padding-top: 150px;
    border-radius: 25px;
}
.img-um{
    background-image: url("../img/imagem1.jpg");
    background-size:cover;
    text-align: center;
}
.img-dois{
    background-image: url("../img/imagem2.jpg");
    background-size:cover;
    text-align: center;
}
.img-tres{
    background-image: url("../img/imagem3.jpg");
    background-size:cover;
    background-position-y:center;
    text-align: center;
}
.link-caixa{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: 'Cinzel', serif;
    padding-top: 0px;
}
.titulo-caixa{
    color: white;
    font-size: 35px;
    background-color: rgba(00, 00, 00, 0.8);
    font-family: 'Cinzel', serif;
    margin: 0px;
}
#rodape{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Cinzel', serif;
    background-color: #1F1CB0;
    height: 300px;
    padding-top: 165px;
}
.insta{  
    position: relative;
    top: 3px;
}
body{
    overflow-x: hidden;
    
}
.icons{
    display: block;
}
.icons i{
    display: none;
    font-size: 50px;
}
.openmenu{
    display: none;
}
.closemenu{
    display: none;
}
@media(max-width: 800px){

    ul{
        height: 40vh;
        width: 100%;
        flex-direction:column ;
        background-color: #1F1CB0;
        align-items: center;
        list-style: none;
        z-index: 10;
        display: none;
        transition: top 1s ease;
    }
    .icons i{
        display: inline-block;
        color: white;
        padding: 5px;
        font-size: 25px;
    }
    .openmenu{
        display: block;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 30px;
        color: white;
        font-size: 25px;
    }
    .closemenu{
        display: block;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 30px;
        color: white;
        font-size: 25px;
    }
}